<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Автовышка</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/автовышка.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Автовышка</h2>
        <br>
        <h2>Цена: От 2200 ₽/час</h2>
        <br><br>
        <h4>Идеальное решение для подъема на высоту! Автовышка - ваш надежный помощник на высоте. Легко управляемая, безопасная и готовая к работе!</h4>
        </div>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>Представляем вам нашу автовышку - инновационное решение для подъема на высоту и выполнения различных работ на высоте. Это высокотехнологичное оборудование обеспечивает безопасность, надежность и эффективность в выполнении задач на строительных объектах, ремонтных работах, уборке деревьев, монтаже и многих других сферах деятельности.
      <br>
      Преимущества нашей автовышки:
      <br>
      Высокая мобильность: Автовышка легко перемещается по различным типам поверхностей благодаря своей маневренности и компактным размерам. Это делает ее идеальным выбором для работы в ограниченных пространствах.
      <br>
      Безопасность: Наша автовышка оснащена современными системами безопасности, включая системы предотвращения падения и автоматического управления, обеспечивающие защиту оператора и окружающих.
      <br>
      Вариативность: Автовышка поставляется с различными приспособлениями и расширенными функциональными возможностями, что позволяет выполнять разнообразные работы на высоте, включая подъем и перемещение грузов, монтажные и демонтажные работы, а также обслуживание и ремонт.
      <br>
      Простота использования: Интуитивно понятное управление и эргономичный дизайн кабины делают нашу автовышку легкой в использовании, даже для новичков.
      <br>
      Эффективность и производительность: Наша автовышка обладает высокой производительностью и эффективностью в выполнении задач на высоте, что позволяет сократить время и затраты на проекте.
      <br>
      Арендуйте нашу автовышку уже сегодня и убедитесь в ее высокой производительности и надежности!</h3>
    <br><br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>