<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Экскаватор-погрузчик</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/эксаватор-погрузчик.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Экскаватор-погрузчик</h2>
        <br>
        <h2>Цена: От 3500 ₽/час</h2>
        <br><br>
        <h4>
          Готовы к многофункциональности! Аренда экскаватора-погрузчика - ваш универсальный помощник на стройке. Эффективное выполнение различных задач в одном оборудовании.
        </h4>
      </div>
      </h4>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Представляем вашему вниманию экскаватор-погрузчик - многофункциональное и универсальное оборудование, которое сочетает в себе функции как экскаватора, так и погрузчика. Наш экскаватор-погрузчик предлагает широкий спектр возможностей для выполнения различных задач на строительной площадке, что делает его незаменимым инструментом для выполнения работ любого масштаба и сложности.
      <br>
      Преимущества нашего экскаватора-погрузчика:
      <br>
      Многофункциональность: Экскаватор-погрузчик обладает многофункциональностью, что позволяет ему выполнять как работы по копанию и рытью, так и задачи по погрузке и перемещению различных материалов на строительной площадке.
      <br>
      Универсальность: Наш экскаватор-погрузчик является универсальным оборудованием, которое подходит для работы как на строительных площадках, так и в городских условиях, на складах и в других отраслях промышленности.
      <br>
      Мощность и производительность: Экскаватор-погрузчик оснащен мощным двигателем и передовыми технологиями, обеспечивающими высокую производительность и эффективность работы на стройке.
      <br>
      Надежность и безопасность: Мы гарантируем надежность и безопасность нашего оборудования. Все наши экскаваторы-погрузчики проходят регулярное техническое обслуживание и проверку перед каждым использованием, что обеспечивает безопасность оператора и окружающих.
      <br>
      Гибкие условия аренды: Мы предлагаем гибкие условия аренды нашего экскаватора-погрузчика, адаптированные под ваши потребности и бюджет. Мы готовы предоставить вам оборудование согласно вашим требованиям и графику работ.
      <br>
      Арендуйте наш экскаватор-погрузчик уже сегодня и обеспечьте высокую производительность и эффективность на вашей строительной площадке!
    </h3>
    <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>