<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Шаланда</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/шаланда.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Шаланда</h2>
        <br>
        <h2>Цена: От 2800 ₽/час</h2>
        <br><br>
        <h4>
          Готовы к работе в любых условиях! Аренда шаланды - ваше надежное решение для перевозки грузов. Мобильность и функциональность в одном.        </h4>
      </div>
      </h4>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Грузовая шаланда - это мобильное и функциональное транспортное средство, представляющее собой грузовую машину с прицепом, оснащенным бортами. Она специально разработана для перевозки и временного хранения грузов на строительных площадках, в горнодобывающей промышленности, а также для выполнения других тяжелых работ.
      <br>
      Преимущества нашей шаланды:
      <br>
      Большая вместительность: Шаланда обладает большим пространством для перевозки грузов, благодаря чему вы можете с комфортом перевозить крупногабаритные и тяжеловесные грузы.
      <br>
      Удобство загрузки и разгрузки: Благодаря бортам прицепа, загрузка и разгрузка грузов становится быстрой и удобной. Это позволяет экономить время и повышает эффективность работ.
      <br>
      Мобильность и маневренность: Наша шаланда обладает высокой мобильностью и маневренностью, что позволяет легко перемещаться по различным типам дорог и территорий.
      <br>
      Надежность и безопасность: Мы гарантируем надежность и безопасность нашей шаланды. Она проходит регулярные проверки перед каждым использованием, чтобы обеспечить ее надежную работу.
      <br>
      Гибкие условия аренды: Мы предлагаем гибкие условия аренды нашей шаланды, адаптированные под ваши потребности и график работ. Мы готовы предоставить вам оборудование согласно вашим требованиям и бюджету.
      <br>
      Арендуйте нашу шаланду уже сегодня и обеспечьте надежную перевозку ваших грузов в любых условиях!
    </h3>
    <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>