<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bobcat</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/бобкэт.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Bobcat</h2>
        <br>
        <h2>Цена: От 2800 ₽/час</h2>
        <br><br>
        <h4>Идеальный выбор для вашего проекта! Bobcat - надежный и производительный мини-погрузчик, готовый к работе. Современное оборудование для вашего успеха!</h4>
        </div>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>Ваше строительство требует надежного и эффективного инструмента? Представляем вам Bobcat - идеальное решение для широкого спектра задач на строительной площадке. Bobcat - это компактный, маневренный и мощный мини-погрузчик, который способен справиться с самыми тяжелыми задачами.
      <br>
      Преимущества Bobcat:
      <br>
      Надежность и производительность: Bobcat разработан с учетом высоких стандартов качества и обеспечивает надежную работу в любых условиях. Его мощный двигатель и прочная конструкция гарантируют высокую производительность на протяжении всего проекта.
      <br>
      Маневренность и компактность: Благодаря своим компактным размерам, Bobcat легко маневрирует даже на тесных строительных участках. Это позволяет использовать его в различных условиях и увеличивает его универсальность.
      <br>
      Удобство использования: Bobcat оснащен интуитивно понятными управляющими элементами, что делает его простым в использовании даже для новичков. Эргономичный дизайн кабины обеспечивает комфорт оператора в течение всего рабочего дня.
      <br>
      Многофункциональность: Bobcat поставляется с различными приспособлениями и приспособлениями, позволяющими выполнять широкий спектр задач, включая погрузку, разгрузку, копание, укладку материалов и многое другое.
      <br>
      Экономичность и экологичность: Современные технологии двигателя и эффективные системы управления делают Bobcat экономичным в использовании и более экологичным.
      <br>
      Bobcat - ваш надежный партнер на стройплощадке. Арендуйте Bobcat у нас уже сегодня и обеспечьте успех вашего проекта!</h3>
    <br><br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>