<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Самосвал</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/самосвал.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Самосвал</h2>
        <br>
        <h2>Цена: От 2800 ₽/час</h2>
        <br><br>
        <h4>
          Готовьтеся к большим грузам с нашим самосвалом! Прокат самосвалов - ваш надежный партнер для перевозки крупных грузов. Закажите прямо сейчас!        </h4>
      </div>
      </h4>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Представляем вашему вниманию нашу флоту самосвалов - надежные и производительные транспортные средства, которые способны справиться с самыми тяжелыми грузами на строительных объектах, в горнодобывающей промышленности, а также при выполнении дорожных работ.
      <br>
      Преимущества наших самосвалов:
<br>
      Грузоподъемность и вместительность: Наши самосвалы обладают высокой грузоподъемностью и вместительностью, что позволяет перевозить крупные и тяжелые грузы с легкостью. Они идеально подходят для транспортировки грунта, щебня, песка, строительных материалов и многого другого.
      <br>
      Производительность и эффективность: Наши самосвалы оснащены мощными двигателями и передовыми технологиями, обеспечивающими высокую производительность и эффективность работы даже в самых экстремальных условиях.
      <br>
      Надежность и безопасность: Мы гарантируем надежность и безопасность наших самосвалов. Все транспортные средства проходят регулярное техническое обслуживание и проверку перед каждым использованием, что обеспечивает безопасность как для операторов, так и для окружающих.
      <br>
      Гибкие условия аренды: Мы предлагаем гибкие условия аренды наших самосвалов, адаптированные под ваш бюджет и график работ. Мы стремимся к тому, чтобы сотрудничество с нами было удобным и выгодным для вас.
      <br>
      Арендуйте наш самосвал уже сегодня и обеспечьте эффективное выполнение ваших задач на стройплощадке или в других отраслях промышленности!
    </h3>
    <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>