<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Экскаватор</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/экскаватор.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Экскаватор</h2>
        <br>
        <h2>Цена: От 4000 ₽/час</h2>
        <br><br>
        <h4>
          Готовы к рытью и копанию! Аренда экскаватора - ваш надежный помощник на строительной площадке. Мощность и профессионализм в каждом движении.
        </h4>
      </div>
      </h4>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Представляем вашему вниманию наш экскаватор - надежный и производительный инструмент, который станет вашим надежным помощником на строительной площадке. Наш экскаватор предлагает широкий спектр функций и возможностей для выполнения различных задач по рытью, копанию, планировке и перевозке материалов.
      <br>
      Преимущества нашего экскаватора:
      <br>
      Мощность и производительность: Наш экскаватор оснащен мощным двигателем и передовыми технологиями, обеспечивающими высокую производительность и эффективность работы на строительной площадке.
      <br>
      Гибкость и маневренность: Экскаватор обладает высокой гибкостью и маневренностью, что делает его идеальным для работы в ограниченных и перегруженных условиях на стройплощадке.
      <br>
      Многофункциональность: Наш экскаватор предлагает широкий спектр функций, включая рытье, копание, планировку и перевозку материалов, что делает его универсальным инструментом для выполнения различных задач на стройке.
      <br>
      Надежность и безопасность: Мы гарантируем надежность и безопасность нашего оборудования. Все наши экскаваторы проходят регулярное техническое обслуживание и проверку перед каждым использованием, что обеспечивает безопасность оператора и окружающих.
      <br>
      Гибкие условия аренды: Мы предлагаем гибкие условия аренды нашего экскаватора, адаптированные под ваши потребности и бюджет. Мы готовы предоставить вам оборудование согласно вашим требованиям и графику работ.
      <br>
      Арендуйте наш экскаватор уже сегодня и обеспечьте высокую производительность и эффективность на вашей строительной площадке!
    </h3>
    <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>