<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Фронтальный погрузчик</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/фронтальный-погрузчик.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Фронтальный погрузчик</h2>
        <br>
        <h2>Цена: От 3500 ₽/час</h2>
        <br><br>
        <h4>
          Готовы к работе! Аренда фронтального погрузчика - ваш надежный партнер на строительной площадке. Эффективность и профессионализм в каждом движении.
        </h4>
      </div>
      </h4>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Представляем вашему вниманию фронтальный погрузчик - многофункциональное и надежное оборудование, предназначенное для перемещения и погрузки различных материалов на строительных объектах, складах, а также в других отраслях промышленности.
      <br>
      Преимущества нашего фронтального погрузчика:
      <br>
      Многофункциональность и универсальность: Наш фронтальный погрузчик оснащен различными приспособлениями и приспособлениями, позволяющими выполнять широкий спектр задач, включая погрузку, разгрузку, укладку материалов, рыхление грунта и многое другое.
      <br>
      Грузоподъемность и производительность: Фронтальный погрузчик обладает высокой грузоподъемностью и производительностью, что позволяет эффективно выполнять задачи на строительной площадке и увеличивать производительность работ.
      <br>
      Маневренность и управляемость: Наш фронтальный погрузчик обладает высокой маневренностью и управляемостью, что делает его легким в управлении даже на ограниченных и перегруженных строительных участках.
      <br>
      Надежность и безопасность: Мы гарантируем надежность и безопасность нашего оборудования. Все наши фронтальные погрузчики проходят регулярное техническое обслуживание и проверку перед каждым использованием, что обеспечивает безопасность оператора и окружающих.
      <br>
      Гибкие условия аренды: Мы предлагаем гибкие условия аренды нашего фронтального погрузчика, адаптированные под ваши потребности и бюджет. Мы готовы предоставить вам оборудование согласно вашим требованиям и графику работ.
      <br>
      Арендуйте наш фронтальный погрузчик уже сегодня и обеспечьте высокую производительность и эффективность ваших строительных проектов!
    </h3>
    <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>