<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Грейдер</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/грейдер.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Грейдер</h2>
        <br>
        <h2>Цена: От 5000 ₽/час</h2>
        <br><br>
        <h4>
          Готовьте поверхность к совершенству с нашим грейдером! Профессиональное оборудование для идеального выравнивания и уплотнения поверхности. Надежный, мощный и готовый к работе!
        </h4>
        </div>
        </h4>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Представляем вам наш грейдер - надежное и производительное оборудование, предназначенное для выравнивания и уплотнения поверхности на строительных объектах, дорожных работах, аэропортах и других инфраструктурных проектах.
      <br>
      Преимущества нашего грейдера:
      <br>
      Профессиональное качество: Наш грейдер представляет собой высокотехнологичное оборудование, разработанное с учетом высоких стандартов качества. Он способен выполнять задачи выравнивания и уплотнения поверхности с высокой точностью и эффективностью.
      <br>
      Мощность и производительность: С мощным двигателем и продвинутыми технологиями, наш грейдер гарантирует высокую производительность и быстрое выполнение задач на строительной площадке.
      <br>
      Маневренность и управляемость: Наш грейдер обладает высокой маневренностью и управляемостью, что позволяет ему легко маневрировать на узких и ограниченных строительных участках.
      <br>
      Надежность и безопасность: Мы гарантируем надежность и безопасность нашего оборудования. Все наши грейдеры проходят регулярное обслуживание и проверку перед каждым использованием, что обеспечивает безопасность оператора и окружающих.
      <br>
      Гибкие условия аренды: Мы предлагаем гибкие условия аренды нашего грейдера, адаптированные под ваши потребности и график работ, что делает сотрудничество с нами удобным и выгодным.
      <br>
      Арендуйте наш грейдер уже сегодня и обеспечьте высокое качество выполнения работ на вашем проекте!    </h3>
    <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>