<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Манипулятор</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/манипулятор.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Манипулятор</h2>
        <br>
        <h2>Цена: От 2500 ₽/час</h2>
        <br><br>
        <h4>
          Гибкий выбор для вашего проекта! Аренда манипулятора - отличное решение для перевозки грузов. Цены начиная от 2500 за шоссейный и 3000 за вездеходный вариант. Закажите сейчас!
        </h4>
      </div>
      </h4>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Ищете надежный инструмент для перевозки грузов на вашем строительном объекте или мероприятии? Наш манипулятор - идеальное решение! Обладая высокой грузоподъемностью и маневренностью, он с легкостью справляется с различными задачами по перемещению грузов на большие расстояния.
      <br>
      Преимущества нашего манипулятора:
      <br>
      Гибкий выбор: Мы предлагаем два варианта манипулятора - шоссейный и вездеходный, чтобы соответствовать вашим требованиям и условиям работы. Цены начинаются от 2500 за шоссейный вариант и от 3000 за вездеходный.
      <br>
      Грузоподъемность и производительность: Наш манипулятор обладает высокой грузоподъемностью, что позволяет перевозить крупные и тяжелые грузы с легкостью. Он также обеспечивает высокую производительность работы благодаря мощному двигателю и современным технологиям.
      <br>
      Маневренность и удобство использования: Манипулятор обладает высокой маневренностью и легко управляется, что делает его удобным в использовании даже на ограниченных и перегруженных строительных участках.
      <br>
      Надежность и безопасность: Наша спецтехника проходит регулярное обслуживание и проверку перед каждым использованием, что обеспечивает ее надежность и безопасность в работе.
      <br>
      Гибкие условия аренды: Мы предлагаем гибкие условия аренды нашего манипулятора, чтобы соответствовать вашим потребностям и бюджету.
      <br>
      Арендуйте наш манипулятор уже сегодня и убедитесь в его высокой производительности и надежности!
    </h3>
      <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>