<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Миксер</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/миксер.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Миксер</h2>
        <br>
        <h2>Цена: договорная</h2>
        <br><br>
        <h4>
          Автобетономеситель - это специальный транспортный автомобиль, оснащенный бетоносмесительным устройством. Он используется для перевозки и смешивания бетонных составов на строительных объектах. Этот мощный инструмент упрощает и ускоряет процесс строительства, обеспечивая высокое качество бетонных конструкций.
        </h4>
      </div>
      </h4>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Автобетономеситель, также известный как бетоносмесительный автомобиль или мобильный бетоносмеситель, представляет собой специализированное транспортное средство, спроектированное для перевозки и смешивания бетонных составов на месте строительства.
      <br>
      Эти мощные машины обычно имеют большие баки для перевозки сырьевых материалов, таких как цемент, песок, гравий и вода, а также встроенные бетоносмесительные устройства. Благодаря этому они способны смешивать и доставлять готовую бетонную смесь непосредственно на строительные площадки, что существенно упрощает и ускоряет процесс строительства.
      <br>
      Автобетономесители представляют собой не только удобное и эффективное средство для производства бетона, но и значительно сокращают время и трудозатраты, которые обычно связаны с транспортировкой и смешиванием бетонных составов на месте строительства.
      <br>
      Эти автомобили часто используются на крупных строительных площадках, таких как строительство дорог, мостов, зданий и других объектов инфраструктуры. Они обеспечивают надежную и качественную подачу бетонной смеси прямо к месту ее применения, что делает их необходимым инструментом в современной строительной индустрии.
      <br>
      Благодаря высокой мобильности и производительности, автобетономесители являются незаменимым звеном в цепи производства бетона, обеспечивая быструю и эффективную работу на стройплощадке
    </h3>
    <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>