<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Трал</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/трал.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Трал</h2>
        <br>
        <h2>Цена: От 3500 ₽/час</h2>
        <br><br>
        <h4>
          Надежный помощник для перевозки тяжелых грузов! Аренда трала - идеальное решение для вашего проекта. Готовы к работе сегодня!
        </h4>
      </div>
      </h4>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Представляем вам наш трал - надежное и профессиональное оборудование, предназначенное для перевозки крупногабаритных и тяжеловесных грузов на большие расстояния. Независимо от масштаба вашего проекта, наш трал гарантирует эффективность и безопасность в транспортировке самых сложных грузов.
      <br>
      Преимущества нашего трала:
<br>
      Грузоподъемность и вместительность: Наш трал обладает высокой грузоподъемностью и вместительностью, что позволяет перевозить крупногабаритные и тяжеловесные грузы с легкостью. Он идеально подходит для транспортировки строительной и сельскохозяйственной техники, спецтехники, контейнеров и других крупногабаритных грузов.
      <br>
      Маневренность и управляемость: Наш трал обладает высокой маневренностью и управляемостью, что делает его удобным в использовании даже на ограниченных и перегруженных дорогах и участках.
      <br>
      Надежность и безопасность: Мы гарантируем надежность и безопасность нашего трала. Все наши транспортные средства проходят регулярное техническое обслуживание и проверку перед каждым использованием, что обеспечивает безопасность как для операторов, так и для окружающих.
      <br>
      Гибкие условия аренды: Мы предлагаем гибкие условия аренды нашего трала, адаптированные под ваш бюджет и график работ. Мы стремимся к тому, чтобы сотрудничество с нами было удобным и выгодным для вас.
      <br>
      Арендуйте наш трал уже сегодня и обеспечьте надежную транспортировку ваших крупногабаритных грузов на строительной площадке или в других отраслях промышленности!
    </h3>
    <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>