<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Автокран</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

  <div th:replace="~{layouts/header :: header}"></div>

  <main class="container">
    <div class="info">
      <div class="img_info">
        <img src="/image/auto/автокран.jpg" alt="">
      </div>
      <div class="div_info">
        <br>
        <h2>Автокран</h2>
        <br>
        <h2>Цена: От 4000 ₽/час</h2>
        <br><br>
        <h4>
          Мощь и надежность на вашей стройплощадке! Аренда автокрана с высокой грузоподъемностью 25-100 тонн - ваш ключ к эффективному выполнению крупных задач. Готовы к работе сегодня!        </h4>
      </div>
    </div>
    <br><br>
    <h1>Описание</h1>
    <br>
    <h3>
      Представляем вашему вниманию наш автокран с высокой грузоподъемностью - мощное и профессиональное оборудование, способное справиться с самыми сложными задачами на строительной площадке. Наш автокран предлагает высокую грузоподъемность в диапазоне от 25 до 35 тонн, что делает его идеальным решением для подъема и перемещения крупногабаритных и тяжеловесных грузов.
      <br>
      Преимущества нашего автокрана с высокой грузоподъемностью:
      <br>
      Мощность и производительность: Наш автокран оснащен мощным двигателем и передовыми технологиями, обеспечивающими высокую производительность и эффективность работы на стройке.
      <br>
      Высокая грузоподъемность: Автокран имеет высокую грузоподъемность, что позволяет ему поднимать и перемещать крупногабаритные и тяжеловесные грузы с легкостью.
      <br>
      Гибкость и маневренность: Наш автокран обладает высокой гибкостью и маневренностью, что делает его легким в управлении и идеальным для работы в ограниченных условиях на строительной площадке.
      <br>
      Надежность и безопасность: Мы гарантируем надежность и безопасность нашего оборудования. Все наши автокраны проходят регулярное техническое обслуживание и проверку перед каждым использованием, что обеспечивает безопасность оператора и окружающих.
      <br>
      Гибкие условия аренды: Мы предлагаем гибкие условия аренды нашего автокрана с высокой грузоподъемностью, адаптированные под ваши потребности и бюджет. Мы готовы предоставить вам оборудование согласно вашим требованиям и графику работ.
      <br>
      Арендуйте наш автокран с высокой грузоподъемностью уже сегодня и обеспечьте высокую производительность и эффективность на вашей строительной площадке!
    </h3>
      <br><br>
  </main>

  <div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>