<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Автокран</title>
  <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="div_body">

<div th:replace="~{layouts/header :: header}"></div>

<main class="container">
  <div class="info">
    <div class="img_info">
      <img src="/image/auto/автокран-мин.jpg" alt="">
    </div>
    <div class="div_info">
      <br>
      <h2>Автокран</h2>
      <br>
      <h2>Цена: От 3000 ₽/час</h2>
      <br><br>
      <h4>
        Готовы к подъему тяжестей! Аренда автокрана грузоподъемностью 25-35 тонн - ваш надежный партнер на стройке. Мощность и профессионализм в каждом подъеме.
      </h4>
    </div>
  </div>
  <br><br>
  <h1>Описание</h1>
  <br>
  <h3>
    Представляем вашему вниманию автокран грузоподъемностью 25-35 тонн - мощное и надежное оборудование, способное эффективно решать различные задачи на строительных площадках, в промышленности и других отраслях.
    <br>
    Преимущества нашего автокрана:
    <br>
    Грузоподъемность и мощность: Наш автокран обладает высокой грузоподъемностью от 25 до 35 тонн, что делает его идеальным для подъема тяжестей различного масштаба. Он способен эффективно поднимать и перемещать крупногабаритные грузы на строительной площадке.
    <br>
    Маневренность и управляемость: Автокран обладает высокой маневренностью и управляемостью, что делает его легким в управлении даже на ограниченных и перегруженных строительных участках.
    <br>
    Безопасность и надежность: Мы гарантируем безопасность и надежность нашего автокрана. Все наши краны проходят регулярное техническое обслуживание и проверку перед каждым использованием, что обеспечивает безопасность операторов и окружающих.
    <br>
    Гибкие условия аренды: Мы предлагаем гибкие условия аренды нашего автокрана, адаптированные под ваши потребности и бюджет. Мы готовы предоставить вам оборудование согласно вашим требованиям и графику работ.
    <br>
    Профессиональные операторы: Мы предоставляем профессиональных операторов, обладающих опытом работы с автокранами. Они гарантируют точное и безопасное выполнение подъемных работ на строительной площадке.
    <br>
    Арендуйте наш автокран с грузоподъемностью 25-35 тонн уже сегодня и обеспечьте успешное выполнение ваших строительных проектов!
  </h3>
  <br><br>
</main>

<div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>