<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <br><br>
    <h4>ООО "СМУ 36".     Все парава защищены</h4>
    <br><br>
    <a href="https://api.whatsapp.com/send/?phone=79805326400">Наш номер: +7 (980) 532-64-00</a> <br>
    <a href="mailto:smy_36@mail.ru">Наша почта: smy_36@mail.ru</a>
    <br><br>
    <h1 style="font-size: 12px">ОГРН - 1153668073525</h1>
    <h1 style="font-size: 12px">ИНН - 3663117016</h1>
    <h1 style="font-size: 12px">Юридический адрес - 394029, Воронежская область,<br>город Воронеж, Ленинский проспект, дом 15, офис 338</h1>
</footer>