<header class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
  <link rel="stylesheet" th:href="@{/main.css}">
  <script src="main.js"></script>
  <span class="logo"><a href="/"><img class="logo_img" src="/image/logo.jpg" alt="SMU-36"></a></span>
  <meta property="og:image" content="/image/logo.jpg">
    <nav>
        <a onclick="window.scrollTo({ top: 1400, behavior: 'smooth'});">Спецтехника</a>
        <a onclick="window.scrollTo({ top: 2600, behavior: 'smooth'});">Онлайн заявка</a>
        <a onclick="window.scrollTo({ top: 5000, behavior: 'smooth'});">Контакты</a>
    </nav>
</header>