<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SMU 36 - Аренда спецтехники в Воронеже и Воронежской области</title>
    <link rel="icon" href="/image/logo2.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="/image/logo2.jpg" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/main.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="SMU 36 – это профессиональный сервис аренды спецтехники, который предоставляет широкий ассортимент качественной техники для решения различных задач на строительных площадках, дорожных работах и промышленных объектах. Мы стремимся обеспечить наших клиентов надежным оборудованием, оперативным сервисом и конкурентоспособными ценами.
    У нас в аренде представлена разнообразная спецтехника, включая экскаваторы, погрузчики, бульдозеры, автокраны, самосвалы и многое другое. Независимо от масштаба проекта, наша техника обеспечит эффективное выполнение задач и поможет вам достичь желаемых результатов.">
    <meta property="og:image" content="/image/logo2.jpg">
    <meta property="og:url" content="https://reflection-vrn.ru/">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="SMU 36 - Аренда спецтехники в Воронеже и Воронежской области">
    <meta name="twitter:description" content="SMU 36 – это профессиональный сервис аренды спецтехники, который предоставляет широкий ассортимент качественной техники для решения различных задач на строительных площадках, дорожных работах и промышленных объектах. Мы стремимся обеспечить наших клиентов надежным оборудованием, оперативным сервисом и конкурентоспособными ценами.
    У нас в аренде представлена разнообразная спецтехника, включая экскаваторы, погрузчики, бульдозеры, автокраны, самосвалы и многое другое. Независимо от масштаба проекта, наша техника обеспечит эффективное выполнение задач и поможет вам достичь желаемых результатов.">
    <meta name="twitter:image" content="/image/logo2.jpg">

    <meta name="favicon" content="/image/logo2.jpg">

</head>
<body>
<div class="div_body">

<div th:replace="~{layouts/header :: header}"></div>

<main class="container">

    <div class="global_img">
        <img src="/image/global.jpg" alt="Извините, фото не найдено" style="width: 100%; height: 100%; margin: 0; padding: 0;">
    </div>

    <h2 style="text-align: center; margin-bottom: 50px">Почему именно мы?</h2>

    <div class="box" style="margin-top: 20px; margin-bottom: 100px">
        <h4>Любые работы под ключ! Наш опыт и надежность. Мы работаем в сфере аренды спецтехники уже более 10 лет, за которые накопили обширный опыт и завоевали доверие клиентов. Наши специалисты обладают высоким профессионализмом и всегда готовы предоставить качественное обслуживание.
            Широкий выбор техники. Мы располагаем обширным парком современной специализированной техники, включая экскаваторы, бульдозеры, автокраны и многое другое.</h4>
    </div>


    <div class="box" style="float: right; margin-bottom: 100px">
        <h4>Гибкие условия аренды. Мы понимаем, что каждый клиент уникален, поэтому готовы предложить гибкие условия аренды, включая индивидуальные скидки и специальные предложения для постоянных клиентов.
            Высокий уровень сервиса. Наша команда профессионалов всегда готова оперативно реагировать на потребности клиентов и обеспечить качественное обслуживание на всех этапах сотрудничества. Мы ценим каждого клиента и стремимся к долгосрочным отношениям на взаимовыгодных условиях.</h4>
    </div>

    <div style="margin-top: 480px">
        <h2 style="text-align: center">Наш автопарк</h2>
    </div>

    <br><br>

    <div class="div_card_container">
        <div class = "div_card">
            <img src="/image/auto/автокран-мин.jpg" alt="">
            <br>
            <h3>Автокран 25т-35т</h3>
            <br>
            <h3>От 3000 ₽/час</h3>
            <form action="/truck-crane-min">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/автокран.jpg" alt="">
            <h3>Автокран 35т+</h3>
            <br>
            <h3>От 12000 ₽/час</h3>
            <form action="/truck-crane">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/бобкэт.jpg" alt="">
            <h3>Bobcat</h3>
            <br>
            <h3>От 2800 ₽/час</h3>
            <form action="/bobcat">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/автовышка.jpg" alt="">
            <h3>Автовышка</h3>
            <br>
            <h3>От 2200 ₽/час</h3>
            <form action="/autotower">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/грейдер.jpg" alt="">
            <h3>Грейдер</h3>
            <br>
            <h3>От 5000 ₽/час</h3>
            <form action="/grader">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/манипулятор.jpg" alt="">
            <h3>Манипулятор</h3>
            <br>
            <h3>от 2500 ₽/час</h3>
            <form action="/manipulator">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/самосвал.jpg" alt="">
            <h3>Самосвал</h3>
            <br>
            <h3>От 2800 ₽/час</h3>
            <form action="/dump-truck">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/трал.jpg" alt="">
            <h3>Трал</h3>
            <br>
            <h3>От 3500 ₽/час</h3>
            <form action="/tral">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/фронтальный-погрузчик.jpg" alt="">
            <h3>Фронтальный погрузчик</h3>
            <br>
            <h3>от 3500 ₽/час</h3>
            <form action="/front-loader">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/шаланда.jpg" alt="">
            <h3>Шаланда</h3>
            <br>
            <h3>от 2800 ₽/час</h3>
            <form action="/barge">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/эксаватор-погрузчик.jpg" alt="">
            <h3>Экскаватор-погрузчик</h3>
            <br>
            <h3>3500 ₽/час</h3>
            <form action="/backhoe-loader">
                <button>Узнать больше</button>
            </form>
        </div>
        <div class = "div_card">
            <img src="/image/auto/экскаватор.jpg" alt="">
            <h3>Экскаватор</h3>
            <br>
            <h3>4000 ₽/час</h3>
            <form action="/excavator">
                <button>Узнать больше</button>
            </form>
        </div>
    </div>

    <h2 style="text-align: center; margin-top: 100px; margin-bottom: 50px">Наши работы</h2>

    <div class="carousel-container">
        <div class="carousel-wrapper">
            <div class="carousel-item">
                <img src="/image/services/1.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/2.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/3.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/4.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/5.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/6.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/14.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/15.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/16.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/7.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/8.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/9.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/10.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/11.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/12.jpg" alt="Наши работы">
            </div>
            <div class="carousel-item">
                <img src="/image/services/13.jpg" alt="Наши работы">
            </div>
        </div>
        <button class="prev-button">◀</button>
        <button class="next-button">▶</button>
    </div>
    <br><br><br>
    <h2 style="text-align: center">Оставьте заявку</h2>
    <h4 style="text-align: center">Мы с вами свяжемся в течение рабочего дня</h4>
    <br>
    <div class="email">
        <div class="email_img">
            <img src="/image/email.jpg" alt="Онлайн заявка">
        </div>

        <div class="email_form">
            <form action="" class="form">
                <input type="text" placeholder="Введите имя" name="name">
                <input type="tel" placeholder="Введите почту" name="email">
                <button>Отправить</button>
            </form>
        </div>
    </div>


    <h1 style="font-size: 20px; margin-top: 100px; margin-bottom: 30px; text-align: center">Добро пожаловать в SMU-36 – ваш надежный партнер в аренде спецтехники!

    </h1>

    <h1 style="font-size: 14px">
        Аренда спецтехники в Воронеже и Воронежской области от компании "SMU-36".
        Мы предлагаем широкий ассортимент качественной спецтехники для решения самых разнообразных задач на строительных площадках, дорожных работах, в сельском хозяйстве и промышленности. Наша компания осуществляет аренду техники как для крупных строительных компаний, так и для частных заказчиков, гарантируя надежность, качество оборудования и высокий уровень сервиса.
        <br><br><br>
    </h1>

    <h1 style="font-size: 20px">Чем мы отличаемся:</h1>

    <h1 style="font-size: 14px">
        <br>
        Широкий выбор техники: Мы предлагаем аренду самой современной и надежной спецтехники различных категорий: от экскаваторов и погрузчиков до автокранов и бульдозеров. Независимо от масштаба вашего проекта, у нас всегда найдется подходящая техника для его успешной реализации.
        <br>
        Высокое качество оборудования: Мы тщательно подбираем технику от ведущих мировых производителей, чтобы обеспечить нашим клиентам только лучшее. Все наши машины проходят регулярное техническое обслуживание и проверку перед каждой арендой, что гарантирует их бесперебойную работу на стройплощадке.
        <br>
        Гибкие условия аренды: Мы понимаем, что каждый проект уникален, поэтому предлагаем гибкие условия аренды, индивидуально подстраиваясь под потребности каждого клиента. Мы также предлагаем выгодные тарифы и специальные предложения для постоянных заказчиков.
        <br>
        Профессиональный сервис: Наша команда состоит из опытных специалистов, готовых оказать профессиональную помощь и консультации по выбору необходимой техники, а также обеспечить оперативное обслуживание и поддержку во время всего периода аренды.
        <br><br><br>
    </h1>

    <h1 style="font-size: 20px">Почему выбирают нас:</h1>

    <h1 style="font-size: 14px">
        <br>
        Надежность: Мы гарантируем своевременную поставку оборудования и исполнение всех договоренностей.
        <br>
        Качество: Наша техника проходит строгий отбор и регулярное обслуживание, что исключает возможность простоев на объекте.
        <br>
        Удобство: Мы предлагаем удобные условия аренды и оперативное оформление заказа.
        <br>
        Выбрав "СпецТехАренда Воронеж", вы выбираете надежного партнера для успешной реализации ваших проектов. Обращайтесь к нам, и мы поможем вам подобрать оптимальное решение для вашего бизнеса!
        <br><br><br>
    </h1>

    <h1 style="font-size: 20px">Контактная информация:</h1>

    <h1 style="font-size: 14px">
        <br>
        <a href="https://api.whatsapp.com/send/?phone=79805326400">Наш номер: +7 (980) 532-64-00</a> <br>
        <a href="mailto:smy_36@mail.ru">Наша почта: smy_36@mail.ru</a>
        <br>
        Адрес: [Ваш адрес]
        <br><br>
        Мы работаем для вашего успеха!</h1>
    <br><br><br>
    </h1>

</main>

<div th:replace="~{layouts/footer :: footer}"></div>

</div>
</body>
</html>